HELP.md


target/
!.mvn/wrapper/maven-wrapper.jar


.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
.metadata/


.idea/
*.iws
*.iml
*.ipr


/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/


.vscode/


docker-compose.override.yml
*.env
.env.*
.docker/
.dockerignore


*.log
*.pid
*.seed
*.db
*.sqlite
*.bak
*.tmp

.DS_Store
Thumbs.db

application-local.properties
application-dev.properties
application-test.properties
*.key
*.pem


.git/
copia_bbdd_azure.sql
